<!DOCTYPE html>
<html lang="en">

<head>
    <title>Go Chat!</title>
    <!-- 字體與icon -->
    <link rel="shortcut icon" href="#" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css'>

    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- 功能性套件 -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="../asset/js/reconnecting-websocket.min.js"></script>
    
    <!-- 自訂css -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../asset/css/home.css">

</head>
<body>
    <!-- nav bar -->
    <div class="nav">
        <span style="color:#FFF;margin-right:8px;">
            <i class="fa fa-fish"></i>
        </span>
        <span>Go chat！</span>
    </div>
    <!-- left: room information -->
    <div id="room">
        <div id="room-title" >
            <div class="room-title div-ell">
                <!-- 聊天室名稱 -->
                <h1 class="title-text"><span v-html="is_private"></span>{{ title }}</h1>
                <!-- 刪除聊天室按鈕 -->
                <button class="exit-btn" v-show="seen_del" @click="DeleteRoom">刪除房間</button>
                <!-- 離開聊天室按鈕 -->
                <button class="exit-btn" v-show="seen_leave" @click="LeaveRoom">退出房間</button>
            </div>
            <h5 class="title-text">聊天室列表
                <button @click="NewRoom" class="new-room-btn">
                    <svg viewBox="0 0 16 16" fill="#00798F" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                    </svg>
                </button>
            </h5>
        </div>

        <div id="rooms">
            <!-- 聊天室列表 -->
            <div id="roomList">
            <button @click="goToRoom('main')" class="mh20 room-box-text room-btn" value="main">大廳</button>
                <dl>
                    <!-- 大廳除外的聊天室列表 -->
                    <dt
                        v-for="(room, index) in rooms"
                        :room="room"
                        :id="room.room_id"
                        :key="index"
                    >
                        <button @click="goToRoom(room.room_id)" class="mh20 room-box-text room-btn">
                            <span v-html="inRoom(room.room_id)"></span>
                            {{ room.room_id }} ({{ room.len }})
                        </button>
                    </dt>
                </dl>
            </div>            
        </div>
    </div>
    <!-- center: chat field -->
    <div id="chat">
        <div id="log"></div>
        <div id="form">
            <form v-on:submit.prevent="sendMsg" class="us-form form-inline">
                <select v-model="type" id="msg-type">
                    <option value='N' selected>一般</option>
                    <option value='A'>廣播</option>
                </select>
                <input v-model="msg" class="w3-input w3-border w3-round" type="text" id="msg" autofocus />
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
    <!-- right: member list -->
    <div id="member">
        <h5 id="switch-all-online" class="title-text">
            <button 
                class="list-btn"
                @click="sOnline" 
                :style="{ color: toggle == 'online' ?  Colors.activeColor : Colors.inactiveColor}"
            >在線列表</button>
            <span> |</span>
            <button 
                class="list-btn" 
                @click="sAll" 
                :style="{ color: toggle == 'all' ?  Colors.activeColor : Colors.inactiveColor }" 
            >所有使用者</button>
        </h5>
        <dl>
            <dt>
                <div id="myUserBlock" class="card">
                    <div class="box">
                        <span style="color:#f4e868;margin-right:8px;">
                            <i class="fa fa-user"></i>
                        </span>
                        <span class="box-text">{{ username }}</span>
                    </div>
                </div>
            </dt>
        </dl>
        <!-- 線上使用者區塊 -->
        <div v-show="seen" id="online-users">
            <!-- 清單 -->
            <dl>
                <dt 
                v-for="(member, index) in o_members"
                :id="member.username"
                :key="index">
                    <div class="card">
                        <div class="box">
                        <span style="color:#00798F;margin-right:8px;">
                            <i class="fa fa-user"></i>
                        </span>
                        <span class="box-text">{{ member.username }}</span> 
                        </div>
                    </div>
                </dt>
            </dl>
        </div>
        <!-- 所有使用者區塊 -->
        <div v-show="seen" id="all-users" class="all-users">
            <label style="margin-left: 10%;">搜尋</label>            
            <input 
                v-model="search" 
                type="text"
                class="user-search w3-input w3-border w3-round"
            >
            <!-- <a  class="status-a">
                狀態更新 <i class="fa fa-redo-alt"></i>
            </a> -->
            <a class="status-a" @click="setAutoRefresh">自動更新：{{ (auto == true)?'on':'off' }}</a>
            <!-- 清單 -->
            <dl style="margin-top: 2.5em;">
                <dt 
                v-for="(member, index) in filterd"
                :id="member.username"
                :key="index">
                    <div class="card">
                        <div class="box">
                        <span :class="member.online != true ? 'user-fa-on' :'user-fa-off'">
                            <i class="fa fa-user"></i>
                        </span>
                        <a 
                            @click="privateChat(member.username)" 
                            :class="member.read == '0' ? 'pchat-btn-r' :'pchat-btn-w'" 
                            role="button"
                        >
                            <i class="fa fa-comment-dots"></i>
                        </a>
                        <span class="box-text">{{ member.username }}</span>
                        </div>
                    </div>
                </dt>
            </dl>
        </div>


    </div>




</body>
<script src="../asset/js/home_vue.js"></script>
</html>